@{
    ViewData["Title"] = "O Aplikacji";
}
<h1>@ViewData["Title"]</h1>

<p>
    Aplikacja to internetowy system zarządzania magazynem sklepu muzycznego. Został on stworzony na potrzeby zaliczenia przedmiotu 
    "Programowanie Zaawansowane" na VI semestrze studiów na kierunku informatyka w Siedlcach.
    Umożliwia on dodawanie, edytowanie i usuwanie Itemów, kategorii oraz dostawców, a także definiowanie i modyfikowanie 
    szczegółowych cech każdego Itemu. Pozwala na przeszukiwanie, sortowanie i stronicowanie listy produktów, 
    a w widokach szczegółowych pokazuje powiązane informacje
</p>