@{
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron">
    <h1 class="mb-5">Wms Core</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Witaj w aplikacji służącej do zarządzania asortymentem</h5>
        <p>
            To prosta aplikacja umożliwiająca dodawanie i zarządzanie artykułami oraz dostawcami.
        </p>
    </div>
    <a href="/Articles"
       class="col-md-4 d-block text-dark text-decoration-none">
       <div class="kafelek"> 
        <h2>Towary</h2>
        <p>Przeglądaj artykuły.</p>
        </div>
    </a>

    <a href="/Contractors"
       class="col-md-4 d-block text-dark text-decoration-none">
        <div class="kafelek">
        <h2>Kontrahenci</h2>
        <p>Zarządzaj bazą kontrahentów.</p>
        </div>
    </a>
</div>
<div class="row">
    <div class="col-md-4"></div> 

    <a href="/Inventory"
       class="col-md-4 d-block text-dark text-decoration-none">
        <div class="kafelek">
            <h2>Magazyn</h2>
            <p>Dodawaj, wydawaj oraz edytuj artykuły przechowywane w magazynie.</p>
        </div>
    </a>
    <a href="/Documents"
       class="col-md-4 d-block text-dark text-decoration-none">
        <div class="kafelek">
            <h2>Dokumenty</h2>
            <p>Dokumenty zarządzające stanem magazynowym, dodawaj asortyment na podstawie dokumentów PZ.</p>
        </div>
    </a>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4"></div>

        <a href="/Account/Users"
        class="col-md-4 d-block text-dark text-decoration-none">
            <div class="kafelek">
                <h2>Operatorzy</h2>
                <p>Konfiguracja i zarządzanie operatorami</p>
            </div>
        </a>
    </div>
}