html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ## Home page styles*/
.no-link-style {
    display: block;
    color: inherit;
    text-decoration: none;
}

.kafelek {
    /* border: 1px solid #ccc; /* jasnoszara ramka */
    border-radius: 4px; /* lekko zaokr¹glone rogi */
    padding: 1rem; /* wewnêtrzny odstêp */
    transition: box-shadow 0.3s ease-in-out;
}

    .kafelek:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* delikatny cieñ przy najechaniu */
    }
